<div class="profile-page container mt-5">
    <div class="row">
        <!-- Sidebar -->
        <aside class="col-md-3 profile-sidebar">
            <div class="user-info text-center">
                <img class="user-photo" [src]="user().image || 'assets/images/user/photo.jpg'" alt="User Photo">
                <h3 class="user-name">{{ user().username }}</h3>
                <!-- <p class="user-following">Seguidos: {{ user().followingCount }}</p> Added line -->
            </div>
            <nav class="profile-nav">
                <ul class="nav flex-column">
                    <li class="nav-item" [class.active]="isActive('profile')">
                        <a class="nav-link perfil" (click)="showProfile()">Mi perfil</a>
                    </li>
                    <!-- <li class="nav-item" [class.active]="isActive('favorites')">
                        <a class="nav-link favorites" (click)="showFavorites()">Favoritos</a>
                    </li> -->
                    <li class="nav-item settings" [class.active]="isActive('settings')">
                        <a class="nav-link" (click)="showSettings()">Settings</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#" (click)="showOffers()">Ofertas</a>
                    </li> -->
                </ul>
            </nav>
        </aside>
        <!-- Main Content -->
        <main class="col-md-9 profile-content">
            <div *ngIf="currentView() === 'profile'" class="profile-details">
                <h2>Mi perfil</h2>
                <hr>
                <p class="profile-details-item"><strong>Nombre de usuario:</strong> {{ user().username }}</p>
                <p class="profile-details-item"><strong>Email:</strong> {{ user().email }}</p>
                <p class="profile-details-item"><strong>Biografía:</strong> {{ user().bio }}</p>
            </div>
            <!-- <div *ngIf="currentView() === 'favorites'">
                <h2>Mis eventos favoritos</h2>
                <hr>
                <div *ngFor="let event of user$().favoriteEvents">
                    <app-card-event [event]="event"></app-card-event>
                </div>
            </div> -->
            <div *ngIf="currentView() === 'settings'">
                <h2>Ajustes de mi perfil</h2>
                <hr>
                <app-settings-user></app-settings-user>
            </div>
            <!-- <div *ngIf="currentView() === 'offers'">
                Offers content goes here
            </div> -->
        </main>
    </div>
</div>
