<div class="details" *ngIf="event">
  <app-carousel></app-carousel>

  <div class="details_content">
    <h1>{{ event.title }}</h1>
    <p>{{ event.description }}</p>
    <p>Fecha: {{ event.date | date:'dd/MM/yyyy HH:mm' }}</p>
    <p>Precio: {{ event.price | currency:event.currency:'symbol':'1.2-2' }}</p>
    <p *ngIf="event.location">Ubicación: {{ event.location }}</p>
  </div>
  <h2 class="map-title">Ubicación del evento</h2>
  <app-comments></app-comments>
  <app-mapa></app-mapa>


  <div *ngIf="!event"><p>Cargando evento...</p></div>
</div>
