<app-search (searchEvent)="get_list_filtered($event)"></app-search>
<app-filters (eventofiltros)="get_list_filtered($event)" [listCategories]="listCategories"></app-filters>
<div class="list-events-container">
  <h2>Lista de Eventos</h2>
  @if (events && events.length) {
    @for (event of events; track event._id) {
      <div>
        <app-card-event [event]="event"></app-card-event>
      </div>
    }
  } @else {
    <p>No hay eventos para mostrar.</p>
  }
</div>
<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="setPageTo($event)">
</app-pagination>

