<div class="filters-container">
  <h3>{{ title }}</h3>
  <hr>
  <div class="filters-row">
    <div class="filter-group">
      <label class="filter-label">{{ filterLabel }}</label>
      <select
        class="filter-select"
        [(ngModel)]="selectedValue"
        (change)="onFilterChange($event)"
      >
        @for (option of filterOptions; track option.value) {
          <option [value]="option.value">{{ option.label }}</option>
        }
      </select>
    </div>
    <div class="filter-group">
      <button type="button" class="btn-clear" (click)="clearFilters()">
        Limpiar Filtros
      </button>
    </div>
  </div>
</div>
