<section class="hero-section">
  <ng-container *ngIf="categories?.length; else empty">
    <div class="card-grid categorias"
         infinite-scroll
         [infiniteScrollDistance]="1"
         [infiniteScrollThrottle]="50"
         (scrolled)="scroll()">
      <app-card-category
        *ngFor="let category of categories"
        [category]="category">
      </app-card-category>
    </div>
  </ng-container>

  <ng-template #empty>
    <p>No hay categorías aún.</p>
  </ng-template>
</section>
