<div class="card">
  <div class="card__background"
       [style.background-image]="'url(' + backgroundUrl + ')'"></div>

  <div class="card__content">
    <p class="card__category">{{ category.slug || 'CATEGORY' }}</p>
    <h3 class="card__heading">{{ category.name }}</h3>

    <h3 *ngIf="category.description" class="card__heading">{{ category.description }}</h3>

<!--     <div class="actions">s
      <button type="button">Editar</button>
      <button type="button">Eliminar</button>
    </div> -->
  </div>
</div>
